
.banner{
    background-image: url(./assets/Hero-bg.png);
}
.banner-profile{
    text-align: center;
}
.banner-profile img{
    width: 120px;
    margin-top: 27px;
}
.banner-head{
    text-align: center;
    font-size: 14px;
}
.banner-text{
    text-align: center;
    font-size:10px;
}
.banner-btn{
    text-align: center;
}
.banner-btn button{
    margin-bottom: 25px;
    background-color: black;
    color: aliceblue;
    font-size: 9px;
    padding: 6px 10px;
    border: none;
    border-radius: 7px;
}
.web-dev{
    margin: 15px 60px;
    background-color: rgba(13, 19, 33, 0.02);
    padding: 10px 12px;
    border-radius: 8px;
}
.web-dev> h4{
    text-align: center;
}
.webp{
    text-align: center;
    font-size: 10px;
    margin: 0 40px;
}
.cart{
    display: flex;
    background-color:white;
    padding: 15px 20px;
    margin: 15px 15px;
}
.cart h5{
 margin: 7px 0 0 0;
}
.cart p{
 font-size: 9px;
 margin-right: 40px;
}
.cart button{
 margin: 8px 0;
}
.cart a{
    text-decoration: none;
    color: black;
    font-weight:500;
    font-size: 11px;
}
.cart img{
    width: 120px;
    margin-right: 15px;
}
.inspiration{
    margin: 10px 50px;
    text-align: center;
}
.inspiration p{
    font-size: 9px;
}
.ins-video{
    width: 440px;
    height: 250px;
    border-radius: 10px;
}
.cterget{
    margin: 10px 55px;
}
.cterget h4{
    text-align: center;
}
.tergetp{
    font-size: 9px;
    text-align: center;
}
.tergetcart{
    display: flex;
}
.cart2{
    display: block;
    border-radius: 6px;
    margin: 10px 5px;
    padding-bottom: 10px;
}
.cart2 h5{
    margin-left: 10px;
}
.cart2 img{
    width: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.cart2 p{
    font-size: 9px;
    margin-left: 10px;
}
.cart2 a{
    margin-left: 10px;
    font-size: 14px;
}
.hcolor{
    background-color:rgba(255, 76, 30, 0.05);
}
.ccolor{
    background-color: rgba(0, 76, 232, 0.05);
}
.jcolor{
    background-color:rgba(255, 223, 0, 0.05);
}






